*{
    box-sizing:border-box;
}
body{
    background:url(../images/spiration-light.png) repeat; 
    font-family: Arial, Helvetica, sans-serif;
    overflow:auto;
    color:#777777;
}
h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaaa;
    font-weight: bold;
}

header{
    background:white;
    border-bottom: 3px solid white;
    margin-bottom: 30px;
}

header h1{
    background:#4aaaaa;
    color:white;
    display: inline-block;
    padding: 20px;
    font-size:25px;
}

nav {width:300px;
    float:right;
    margin-top:25px;
    text-emphasis:center;}


.wrapper{width:960px;
        margin:0 auto;}